<!--Row 1 : Heading -->
<nav class="navbar navbar-light justify-content-between" style="color: white;">
    <h5>Current Account:
        <small id="currentAcntDisplayID" style="color:  rgb(244, 253, 253)">0x10101010</small>
    </h5>
    <form class="form-inline">
        <!--<button class="btn btn-outline-success my-2 my-sm-0" id="updateLandsButtonID" type="submit">View Property Details</button>-->
        <button class="btn-forked2" id="updateLandsButtonID" type="submit">View Land Listings</button>
    </form>
</nav>
<!--Panel to fill up with lands available pertaining to selected account -->
<div class="form-check" id="contentPanel" style="background-color: rgb(244, 253, 253);height:400px;overflow-y: scroll;">
    <br>
</div>